<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Teddy Coleman</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", root_path(:anchor => "about"), :class => "top-link" %></li>
        <li><%= link_to "Portfolio", root_path(:anchor => "portfolio"), :class => "top-link" %></li>
        <li><%= link_to "Contact", root_path(:anchor => "contact"), :class => "top-link" %></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Home -->
<div class="container home" id="home">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="my-name">Teddy Coleman</h1>
			<h2 class="subtitle">Web Developer | Experienced Product Manager</h2>
		</div>
	</div>
	<br>
</div>

<!-- About -->
<div class="container about" id="about">
	<div class="row">
		<div class="col-md-12 text-center">
			<br>
			<br>
			<h1 class="section-header"> About </h1>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
		 <p>I'm a full stack web developer with a background as a product manager. I'm well versed in both the MEAN stack and Ruby on Rails and I look to pick up technologies as I tackle new problems. 
		 </p>
		 <p>
		 As a product manager, I led the creation and implementation of enterprise level technology at a large asset manager. While working with development teams, I realized my passion for coding and completed a web development bootcamp. I enjoy building new web apps and look forward to using my skills to continue building/improving technology. 
		 </p>
		 <p> 
		 When I'm not coding, I can be found throwing a frisbee, rock climbing, playing chess, reading a book, or attempting (poorly) to cook. Drop me a line!
		 </p>
		</div>
	</div>
	<br>
</div>

<!-- Portfolio -->
<div class="container portfolio" id="portfolio">
	<div class="row">
		<div class="col-md-12 text-center">
			<br>
			<br>
			<h1 class="section-header"> Portfolio </h1>
			<br>
		</div>
	</div>
	<br>
	<!-- Local Artist Project -->
	<div class="row project">
		<div class="col-md-6">
			<%= image_tag("Local Artist.png", :class=>"img-responsive black-border") %>
		</div>
		<div class="col-md-6">
			<h2 class="project-header"> Local Artist </h2>
			<p> Local artist is an application to showcase local artists’ work and create displays at local venues. I worked individually to create a separate Rails backend with AWS storage and MEAN stack frontend. </p>
			<h3 class="technologies-header">Technologies</h3>
			<p> Ruby on Rails, Node.js/Express, AngularJS, Javascript, HTML, CSS, AWS S3 storage </p>
			<h4> <a href="https://local-artist.herokuapp.com/#/"> Heroku</a> / <a href="https://github.com/teddycoleman/LocalArtistApp"> Github </a> </h4>
		</div>
	</div>
	<br>
	<!-- City Hyke Project -->
	<div class="row project">
		<div class="col-md-6">
			<%= image_tag("City-Hyke.png", :class=>"img-responsive black-border") %>
		</div>
		<div class="col-md-6">
			<h2 class="project-header"> City Hyke </h2>
			<p> City Hyke is an application to create and share walking tours of any city. I worked in two person team in which I built the server and implemented Google Maps, Google Places, and Google Directions API. </p>
			<h3 class="technologies-header">Technologies</h3>
			<p> Node.js/Express, Javascript, HTML, CSS, Google Maps API, Google Places API, Google Directions API </p>
			<h4> <a href="https://city-hyke.herokuapp.com/"> Heroku</a> / <a href="https://github.com/teddycoleman/walkingtours"> Github </a> </h4>
		</div>
	</div>
	<br>
	<!-- Trekkster Project -->
	<div class="row project">
		<div class="col-md-6">
			<%= image_tag("Trekkster.png", :class=>"img-responsive black-border") %>
		</div>
		<div class="col-md-6">
			<h2 class="project-header"> Trekkster </h2>
			<p> Trekkster is an application to create and share travel tips for cities around the world. I worked in three person team in which I created CRUD actions for models, implemented turbolinks and friendly_id gems, and designed page layouts. </p>
			<h3 class="technologies-header">Technologies</h3>
			<p> Ruby on Rails, Javascript, HTML, CSS </p>
			<h4> <a href="https://trekkster.herokuapp.com/"> Heroku</a> / <a href="https://github.com/teddycoleman/project_vagabond"> Github </a> </h4>
		</div>
	</div>
	<br>
	<!-- Chess Puzzle Trainer Project -->
	<div class="row project">
		<div class="col-md-6">
			<%= image_tag("Chess Puzzle Trainer.png", :class=>"img-responsive black-border") %>
		</div>
		<div class="col-md-6">
			<h2 class="project-header"> Chess Puzzle Trainer </h2>
			<p> Chess Puzzle Trainer is an application to solve chess puzzles and improve gameplay. I worked individually in pure Javascript, CSS, and HTML. </p>
			<h3 class="technologies-header">Technologies</h3>
			<p> Javascript, HTML, CSS </p>
			<h4> <a href="https://www.bitballoon.com/sites/chess-puzzle-training"> BitBalloon</a> / <a href="https://github.com/teddycoleman/chess_project"> Github </a> </h4>
		</div>
	</div>
	<br>
</div>

<!-- Contact -->
<div class="container contact" id="contact">
	<div class="row">
		<div class="col-md-12 text-center">
			<br>
			<br>
			<h1 class="section-header"> Contact </h1>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h4> Want to get in touch? Send me an email: </h4>
			<p> teddy.f.coleman@gmail.com </p>
			<a href="https://www.linkedin.com/in/teddy-coleman"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
			<a href="https://github.com/teddycoleman"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>	
		</div>
	</div>
	<br>
</div>


